
*{
  margin: 0px;
}

body{
  background-color: #eee;
}

.header{
  margin: 0px;
}

.header nav{
  background-color: black;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header ul{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.header nav a{
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.header nav a:hover{
  color: lightblue;
}

.content{
  width: 70%;
  min-height: 350px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin: 25px auto;
  padding: 20px;
}

.login input{
  display: block;
  width: 300px;
  margin: 15px;
  padding: 15px;
}